/*  selector{
property: value;
 */

 #container{
    height:800px;
    width:100%;
    border:2px solid   red;
    display:flex;                 /*  align all the child in the single row */
    align-items:center;             /*  along  with the y-axis */
    justify-content: center;                 /* along with the x axis */
    gap:30%;                         /* to give the spaces between child*/


 }

 .square{
    height:500px;
    width:500px; 
    border:10px dashed green;
   
 }
 .circle{
    height:500px;
    width:500px;
    border:10px dashed green;
    background-color:blue;
   


 }